<!--Formulario Proveedor Begin-->
<h2><small><i class="fa fa-bar-chart-o fa-fw"></i> Administración</small></h2>
        <hr>
<div list-Proveedor></div>

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalProveedor" class="modal fade in">
    <div class="modal-dialog" style="width: 1024px">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">Registro de Proveedor</h4>
            </div>
            <div class="modal-body">
                <div frm-Proveedor></div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="save()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar</button>
                <button data-dismiss="modal" class="btn btn-danger" type="button">Cancelar</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!--<div class="row">-->
    <!--<div class="col-lg-12">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--Opciones-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-heading &ndash;&gt;-->
            <!--<div class="panel-body">-->
                <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
                <!--<ul class="nav nav-tabs">-->
                    <!--<li class="active"><a data-target="#home" data-toggle="tab">Proveedores</a>-->
                    <!--</li>-->
                    <!--<li><a data-target="#profile" data-toggle="tab">Artículos</a>-->
                    <!--</li>-->
                    <!--<li><a data-target="#messages" data-toggle="tab">Messages</a>-->
                    <!--</li>-->
                    <!--<li><a data-target="#settings" data-toggle="tab">Settings</a>-->
                    <!--</li>-->
                <!--</ul>-->

                <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
                <!--<div class="tab-content">-->
                    <!--<div class="tab-pane fade in active" id="home">-->
                        <!--&lt;!&ndash;<h4>Proveedores</h4>&ndash;&gt;-->
                        <!--<div frm-Proveedor></div>-->


                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="profile">-->
                        <!--<h4>Profile Tab</h4>-->

                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut-->
                            <!--labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
                            <!--laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in-->
                            <!--voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
                            <!--cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="messages">-->
                        <!--<h4>Messages Tab</h4>-->

                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut-->
                            <!--labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
                            <!--laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in-->
                            <!--voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
                            <!--cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="settings">-->
                        <!--<h4>Settings Tab</h4>-->

                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut-->
                            <!--labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
                            <!--laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in-->
                            <!--voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
                            <!--cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.panel &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
