<!--Formulario articulo Begin-->
<h2>
    <small><i class="fa fa-table"></i> Inventarios</small>
</h2>

<div list-Articulo></div>

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalArticulo"
     class="modal fade in">
<div class="modal-dialog" style="width:100%; max-width: 1024px">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabelp" class="modal-title">Registro de Producto</h4>
        </div>
        <div class="modal-body">
            <datos-Registro-Articulo>
                <form id="artForm" name="artForm">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="codigoArticulo">CODIGO ARTICULO</label>
                                        <input class="form-control " ng-model="formData.codigoArticulo"
                                               id="codigoArticulo" placeholder="codigoArticulo"
                                               name="codArtInput" capitalize>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="nombreArticulo">NOMBRE PRODUCTO</label>
                                        <input class="form-control "
                                               ng-model="formData.nombreArticulo"
                                               id="nombreArticulo" placeholder="nombreArticulo"
                                               name="nom_productoArtInput" capitalize>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="descripcionArticulo">DESCRIPCION</label>
                                        <input class="form-control "
                                               ng-model="formData.descripcionArticulo"
                                               id="descripcionArticulo" placeholder="descripcionArticulo"
                                               name="descripcionArtInput" capitalize>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="selectUnidad">UNIDAD</label>
                                        <select class="form-control " id="selectUnidad"
                                                name="unidadArtInput"
                                                ng-model="formData.clasif_unidad"
                                                ng-options="item.descripcionUnidad for item in unidadList">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <legend><i class="fa fa-info-circle"></i> Información Almacen</legend>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="selectMarca">MARCA</label>
                                        <select class="form-control " id="selectMarca"
                                                name="marcaArtInput"
                                                ng-model="formData.clasif_marca"
                                                ng-options="item.descripcionMarca for item in marcasList">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="selectCategoria">CATEGORIA</label>
                                        <select class="form-control " id="selectCategoria"
                                                name="categoriaArtInput"
                                                ng-model="formData.clasif_categoria"
                                                ng-options="item.descripcionCategoria for item in categoriaList"
                                                ng-change="cargarClase()">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="selectClase">CLASE</label>
                                        <select class="form-control " id="selectClase"
                                                name="claseArtInput"
                                                ng-model="formData.clasif_clase"
                                                ng-options="item.descripcionClase for item in claseList">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="precio">PRECIO</label>
                                        <input class="form-control precioArtInput" id="precio"
                                               ng-model="formData.precio"
                                               placeholder="precio" numbers
                                                name="precioArtInput">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="precioCosto">PRECIO COSTO</label>
                                        <input class="form-control " id="precioCosto"
                                               ng-model="formData.precioCosto"
                                               ng-change="calculaMargenGanancia()"
                                               placeholder="precioCosto" numbers
                                               name="precioCostoArtInput">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="margenGanancia">MARGEN GANACIA</label>
                                        <input class="form-control" id="margenGanancia"
                                               ng-model="formData.margenGanancia"
                                               disabled="true"
                                               placeholder="margenGanancia" numbers
                                               name="margenArtInput">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="nivelReorden">NIVEL REORDEN</label>
                                        <input class="form-control" id="nivelReorden"
                                               ng-model="formData.nivelReorden"
                                               placeholder="nivelReorden" numbers
                                               name="nivelArtInput">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group ">
                                        <label for="cantidadReorden">CANTIDAD REORDEN</label>
                                        <input class="form-control" id="cantidadReorden"
                                               ng-model="formData.cantidadReorden" numbers
                                                name="cantidadArtInput">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>FECHA DESDE</label>

                                        <div class="input-group date">
                                            <input class="form-control" ng-model="formData.fechaDesde" datepicker=""
                                                   type="text">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i>
                             </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>FECHA HASTA</label>

                                        <div class="input-group date">
                                            <input class="form-control" ng-model="formData.fechaHasta" datepicker=""
                                                   type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i>
                             </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <!--<button type="submit" ng-click="save()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>-->
                                <!--<button type="reset" class="btn btn-default">Limpiar</button>-->
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div id="imageUpload">
                                <div class="center-block">
                                </div>
                            </div>

                            <br>
                            <!--ng-model="formData.fotografia"-->
                            <div class="col-lg-4">
                                <div class="form-group center">
                                    <span class="btn btn-primary btn-file">
                                    <i class="fa fa-upload"></i> Subir Imágen
                                        <input
                                                class="inputFiles upload"
                                                type="file"

                                                ng-click="cargarImagen()"
                                                accept="image/x-png, image/gif, image/jpeg"/>
                                   </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </datos-Registro-Articulo>

        </div>
        <div class="modal-footer">
            <button type="submit" id="save" ng-click="save()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar
            </button>
            <button type="submit" id="edit" style="display:none" ng-click="edit()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Modificaciones
            </button>
            <button type="reset" class="btn btn-default">Limpiar</button>
            <button data-dismiss="modal" ng-click="cancel()" class="btn btn-danger" type="button">Cancelar</button>

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalArticuloInfo"
     class="modal fade in">
    <div class="modal-dialog" style="width:100%; max-width: 1024px">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">Informacion del Producto</h4>
            </div>
            <div class="modal-body">
                <div info-Articulo></div>
            </div>
            <div class="modal-footer">
                <!--<button type="submit" ng-click="save()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>-->
                <!--<button type="reset" class="btn btn-default">Limpiar</button>-->
                <button ng-click="link()" data-dismiss="modal" class="btn btn-default" type="button"><i
                        class="fa fa-backward"></i> Volver
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div id="loading">
    <div id="load-div">
        <img src="src/img/load.gif" width="50px"/>

        <div style="position: relative; padding-top: 10px;">Procesando...</div>
    </div>
</div>


<div class="modal fade" id="alertError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="z-index: 1050">
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title red" id="myModalLabel1"><i class="icon-warning-sign"></i><strong>
                    Advertencia </strong></h4>
            </div>
            <div class="modal-body">
                <p id="mensajeAlertError"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="alertSucces" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="z-index: 1050">
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title green" id=""><i class="icon-ok-sign"></i><strong> Confirmacion </strong></h4>
            </div>
            <div class="modal-body">
                <p id="mensajeAlertSucces"></p>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="load()" class="btn btn-success" data-dismiss="modal">OK</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->