<!DOCTYPE html>
<html lang="es" ng-app="app" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Sales" content="">

    <title>SALES</title>

    <!-- Bootstrap Core CSS -->
    <link href="src/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="src/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <!--<link rel="stylesheet" href="src/css/jquery.dataTables.css">-->
    <link href="src/css/plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="src/css/sb-admin-2.css" rel="stylesheet">

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="src/css/smoothness/jquery-ui-1.10.4.custom.min.css"/>
    <!--<link rel="stylesheet" href="src/css/datepicker.css">-->

    <!-- Custom Fonts -->
    <link href="src/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="src/js/html5shiv.js"></script>
        <script src="src/js/respond.min.js"></script>
    <![endif]-->

    <!-- angular -->
    <script type="text/javascript" src="src/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="src/js/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="src/js/angular/angular-route.js"></script>
    <script type="text/javascript" src="src/js/angular/angular-datatables.js"></script>

    <script type="text/javascript" src="src/app.js"></script>

    <!--Controllers-->
    <script type="text/javascript" src="src/controllers/HomeController.js"></script>
    <script type="text/javascript" src="src/controllers/AdminController.js"></script>
    <script type="text/javascript" src="src/controllers/InventarioController.js"></script>
    <script type="text/javascript" src="src/controllers/MovimientoController.js"></script>
    <script type="text/javascript" src="src/controllers/ClienteProductoController.js"></script>
    <script type="text/javascript" src="src/controllers/ComprasController.js"></script>
    <script type="text/javascript" src="src/controllers/LoginController.js"></script>
    <script type="text/javascript" src="src/controllers/ReportesController.js"></script>
    <script type="text/javascript" src="src/controllers/VentasController.js"></script>
    <script type="text/javascript" src="src/controllers/ClienteController.js"></script>
    <script type="text/javascript" src="src/controllers/ArticulosStockController.js"></script>


    <!--Directives-->
    <script type="text/javascript" src="src/directives/templateDirective.js"></script>
    <script type="text/javascript" src="src/directives/datapickerDirective.js"></script>
    <script type="text/javascript" src="src/directives/CapitalizeDirective.js"></script>
    <script type="text/javascript" src="src/directives/onlyNumbersDirective.js"></script>

    <!--Validaciones-->
    <script type="text/javascript" src="src/validate/datosRegistroArticulo.js"></script>
    <script type="text/javascript" src="src/validate/datosRegistroCategoria.js"></script>
    <script type="text/javascript" src="src/validate/datosRegistroClase.js"></script>
    <script type="text/javascript" src="src/validate/datosRegistroMarca.js"></script>
    <script type="text/javascript" src="src/validate/datosRegistroUnidad.js"></script>
    <script type="text/javascript" src="src/validate/datosRegistroBodega.js"></script>
    <script type="text/javascript" src="src/validate/datosRegistroCompra.js"></script>
    <!--<script type="text/javascript" src="src/validate/validateArticuloDirective.js"></script>-->

    <script type="text/javascript" src="src/services/adminService.js"></script>
    <script type="text/javascript" src="src/services/articuloService.js"></script>
    <script type="text/javascript" src="src/services/paramService.js"></script>

    <!--Global Properties-->
    <script type="text/javascript" src="src/config.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <script src="src/js/jquery-1.11.0.js"></script>
    <script src="src/js/jquery.validate.min.js"></script>


    <script type="text/javascript" >
    function MenuController ($scope, $http, $cookies, serviceShare) {

        var path_json = 'src/data/menu_' + $cookies['usuarioperfil'] + '.json';
        $http.get(path_json).then(function(json){
            $scope.menutree = json.data;
        });
    }
    function UsuarioController ($scope, $http, $cookies, serviceShare) {

//            var user = $cookies['username'];
        $scope.usuarionombre = $cookies['username'];
        $scope.usuarioperfil = $cookies['usuarioperfil'];
        $scope.nombres = $cookies['nombres'];
        $scope.apellido = $cookies['paterno'];

    }

    function logout ($scope, $http, $cookieStore)
    {
        $scope.logout = function(){
            $cookieStore.remove("usuarionombre");
            $cookieStore.remove("usuarioperfil");
            location.href = 'index.html';
        }
    };

    </script>
</head>

<body>
<div class="container">
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
<div class="navbar-header">
    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <a class="navbar-brand" href="index.html"><i class="fa fa-dashboard dark"></i> <strong class="dark">SALESFORCE</strong></a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">

<!-- /.dropdown -->
<li class="dropdown" ng-controller="UsuarioController">
    <a class="dropdown-toggle" data-toggle="dropdown">
        {{nombres}} {{apellido}} - ({{usuarioperfil}})   <i class="fa fa-user fa-fw dark"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="index.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->


</nav>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav" ng-controller="MenuController">
                <li class="active">
                    <a href="#"><i class="fa fa-home"></i> Inicio</a></li>
                <li class="dropdown" ng-repeat="item in menutree">
                    <a data-target=""  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i> {{item.menu}} <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="opcion in item.opciones">
                            <a href="{{opcion.url}}">
                               {{opcion.titulo}}
                            </a>
                        </li>
                </li>


                <!--<li class="dropdown">-->

                    <!--<a data-target=""  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i> Administración <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#/administracion">Proveedores</a></li>-->
                        <!--<li><a href="#/almacenes">Alamacenes</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li clas="dropdown">-->
                    <!--<a data-target="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> Movimientos <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#/compras">Movimientos</a></li>-->
                        <!--<li><a href="#/movimientos">Ventas</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li clas="dropdown">-->
                    <!--<a data-target="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table"></i> Catalogos<span class="caret"></span> </a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#/inventarios">Productos</a></li>-->
                        <!--<li><a href="#/categorias">Categorias</a></li>-->
                        <!--<li><a href="#/clases">Clases</a></li>-->
                        <!--<li><a href="#/marcas">Marcas</a></li>-->
                        <!--<li><a href="#/unidades">Unidades</a></li>-->

                    <!--</ul>-->
                <!--</li>-->
                <!--<li clas="dropdown">-->
                    <!--<a data-target="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>Inventarios<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#/inventarios">Inventario Físico</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a data-target=""  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print fa-fw"></i> Reportes <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#/reporte_etiqueta">Generar Etiquetas</a></li>-->
                        <!--<li><a href="#">Link 2</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</div>


    <div id="wrapper">

        <!-- Navigation -->

            <!--<ol class="breadcrumb">-->
                <!--<li><a href="#">Home</a></li>-->
                <!--<li><a href="#">Library</a></li>-->
                <!--<li class="active">Data</li>-->
            <!--</ol>-->


        <!-- Page Content -->
        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <!--<h1 class="page-header">Blank</h1>-->
                    <!-- PAGE CONTENT BEGINS -->
                    <div ng-view id="div_main"></div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</div>


    <script src="src/js/jquery-ui-1.10.3.custom.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="src/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="src/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="src/js/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="src/js/plugins/dataTables/jquery.dataTables.bootstrap.js"></script>


    <!-- Upload Image Plugin JavaScript -->
    <script src="src/js/jquery.fileupload.js"></script>

    <script src="src/js/messages_es.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="src/js/sb-admin-2.js"></script>


</body>

</html>

