<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Lista de Productos</strong>

                <div style="float:right">
                    <button class="btn btn-primary btn-sm" data-toggle='modal' data-target="#ModalArticulo"><i
                            ng-click="regPro()" class="fa fa-plus"></i> Reg. Producto
                    </button>
                </div>

            </div>
            <!-- /.panel-heading -->
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <div class="panel-body">

                <div class="table-responsive">


                    <table class="table table-striped table-bordered table-hover" id="dataTableProductos">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th width="35%">Producto</th>
                            <th>Codigo Artículo</th>
                            <th>Precio Compra</th>
                            <th>Precio Venta</th>
                            <th>Margen Ganancia</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Eliminar</th>


                        </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->



