<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Formulario
            </div>
            <div class="panel-body">
                <!-- /.row (nested) -->
                <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>NOMBRE</label>
                            <input class="form-control" ng-model="formData.nombre" placeholder="Nombre" capitalize>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>NUMERO DOCUMENTO</label>
                            <input class="form-control" ng-model="formData.numeroDocumento" placeholder="Número de Documento" capitalize>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>DIRECCIÓN</label>
                            <input class="form-control" ng-model="formData.direccion" placeholder="Dirección" capitalize>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>TELÉFONO</label>
                                <input class="form-control" ng-model="formData.telefono" placeholder="Telefono" capitalize>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>FAX</label>
                                <input class="form-control" ng-model="formData.fax" placeholder="Fax" capitalize>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>EMAIL</label>
                                <input class="form-control" ng-model="formData.email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>CONTACTO</label>
                                <input class="form-control" ng-model="formData.contacto" placeholder="Contacto" capitalize>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>CUENTA PP</label>
                                <input class="form-control" ng-model="formData.cuenta_pp" numbers>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>CUENTA P</label>
                                <input class="form-control" ng-model="formData.cuenta_p" numbers>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-12">-->
                    <!--<button type="submit" ng-click="save()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>-->
                    <!--<button type="reset" class="btn btn-default">Limpiar</button>-->
                    <!--</div>-->

                </form>
                <pre>
                </pre>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
